header {
	background: no-repeat center center;
	background-size: cover;
	color: white;
}

body	{
	background-color:	rgb(160, 160, 160);

}

.navbar-nav .nav-item .nav-link {
    color: black; 
    border: none; 
    transition: color 0.3s, border 0.3s; 
}

.navbar-nav .nav-item .nav-link:hover {
    color: blue;
    border-bottom: 2px solid blue; 
}


.color-overlay {
	background-color: rgba(0, 0, 0, 0.4);
	min-height: 60vh;
} 

.singleCol {
	max-width: 750px;
}

footer {
     background-color: #3a3a3a;
	
}

footer a{
     color: white;
}

footer a:hover{
     color: #dfdfdf;

}



@media (max-width: 767.98px){
	.color-overlay {
		min-height: 30vh;
	}
}

